.dashboard_screen {
  .dashborad_content {
    .content {
      width: 100%;
      gap: 20px;
      .left {
        flex: 1;
      }
      .right {
        padding-right: 20px;
        width: 100%;
        .widgets {
          display: flex;
          padding: 20px 0px;
          gap: 20px;
          width: 100%;
          flex-wrap: wrap;
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 900px) {
        gap: 0px;
        .left {
          .side_menu {
            display: none;
          }
        }
        .right {
          padding-right: 0;
          .widgets,
          .chart_slider,
          .table_filters {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}
