.table_component {
  .filters_section {
    color: var(--color-primary-dark);
    margin-bottom: 10px;

    &.filters_section_dark {
      .search_box {
        .icon {
          color: var(--color-text-txt) !important;
        }
      }
      h5,
      label {
        color: var(--color-text);
      }
    }
    .left_boxes {
      gap: 10px;
      flex-wrap: wrap;
      .search_box {
        position: relative;
        .icon {
          position: absolute;
          left: 10px;
          color: var(--color-primary);
          font-size: 20px;
          cursor: pointer;
        }
        input {
          width: 100%;
          padding-left: 35px;
          color: var(--color-text-dull);
        }
      }
      .form_group {
        text-wrap: nowrap;
        .date {
          padding: 8px 10px;
        }
      }
      select {
        max-width: 120px;
        padding: 8px 10px;
      }
    }
    .right_boxes {
      gap: 10px;
      .form_group {
        .download_btn {
          padding: 6px 8px;
          .dounload_icon {
            font-size: 16px;
            padding: 0px;
          }
        }
        .export_btn {
          padding: 8px 10px;
          gap: 4px;
        }
      }
      .sort {
        gap: 10px;
        label {
          font-weight: 300;
          font-size: 15px;
        }
      }
      .choose_icon_btn {
        gap: 10px;
        .dounload_btn {
          .icon {
            font-size: 15px;
          }
        }
      }
      select {
        max-width: 150px;
        padding: 8px 10px;
      }
    }
    /*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
    @media screen and (max-width: 1300px) {
      flex-direction: column;
      //justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 420px) {
      .left_boxes {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        .form_group {
          width: 100%;
          input,
          select {
            width: 100%;
          }
        }
        select {
          max-width: 100%;
        }
      }
      .right_boxes {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .sort,
        .choose_icon_btn {
          justify-content: space-between;
          width: 100%;
        }
        select {
          max-width: 100%;
        }
      }
    }
  }
  .table_section {
    padding: 0;
    .ant-table {
      background-color: var(--color-white);
      .ant-table-thead > tr > th {
        color: var(--color-text-dull);
        border-bottom: none;
        background-color: var(--color-border);
      }
      .ant-table-tbody > tr > td {
        border-bottom: none;
        color: var(--color-dark-gray);
      }
    }
    @media (max-width: 620px) {
      .ant-table {
        padding-left: 0;
        padding-right: 0;
        position: relative;
      }
      .ant-table-tbody > tr > td {
        margin-left: -40px;

        text-wrap: nowrap;
        border-bottom: none;
      }
      .ant-table-thead > tr > th {
        margin-left: -34px;
      }
      .ant-table-thead > tr > th:nth-child(3) {
        right: 0px;
      }
      .status_column {
        position: relative;
        right: 0;
        width: 100px !important;
      }

      .event_column {
        display: flex;
        justify-content: space-between; // Event Name to the left, Status to the right
        padding-left: 0;
        padding-right: 0;
      }
    }
    @media (max-width: 340px) {
    }

    .status {
      border-radius: 20px;
      padding: 1px 10px;
      gap: 5px;

      .icon {
        font-size: 10px;
      }
      &.status_green {
        color: var(--color-green);
        background-color: var(--color-gr-bg);
      }
      &.status_blue {
        color: var(--color-blue);
        background-color: var(--color-bl-bg);
      }
    }
    .expanded_content {
      padding: 0px 20px;
    }
    .expand_icons {
      display: none;
    }
  }
}

/* Pagination styles */
// .table .ant-pagination {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
// }

.table .ant-pagination-item {
  border-radius: 50% !important;
  color: var(--color-white) !important;
  width: 30px !important;
  height: 32px !important;
  margin: 0px 5px;
  padding: 0px;
}

/* Pagination active number styles */
.table .ant-pagination-item-active {
  background-color: var(--color-text);
  border-radius: 50% !important;
  border: none;
  width: 30px !important;
  height: 32px !important;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
}

.table .ant-pagination-item-active a {
  color: var(--color-white) !important;
}

.table .ant-pagination-item-active:hover,
.table .ant-pagination-item-active:focus {
  background-color: #6d5ce7 !important;
  color: var(--color-white) !important;
}

.pagination-icon {
  border: 1px solid var(--color-border);
  padding: 4px;
  border-radius: 4px;
}

.ant-pagination-options .ant-select-selector {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-flex;
  align-items: center;
}

.ant-select-dropdown .ant-select-item-option-content:before {
  content: "Show: ";
  font-weight: 600;
  margin-right: 5px;
}
