.drawer_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: var(--color-white);
  // box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: var(--color-primary-dark);
  outline: none;
  height: 100%;
  &.drawer_modal_dark {
    .drawer_close_icon {
      .span_icon {
        background-color: var(--color-text-txt) !important;
        border-radius: 50%;
        border: 0px !important;
      }
    }
    .header_box,
    .speaker {
      color: var(--color-text) !important;
    }
    .header_box {
      .description {
        color: var(--color-text) !important;
      }
    }
    .btns {
      background-color: var(--color-text-txt) !important;
      .edit_btn {
        background-color: var(--color-text) !important;
        border: none !important;
      }
      .delete_btn {
        color: var(--color-text) !important;
      }
      .mark_btn {
        color: var(--color-text) !important;
        background-color: var(--color-hover-bg) !important;
      }
    }
  }
  .drawer_close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--color-primary);
    cursor: pointer;
    .icon {
      font-size: 15px;
    }
  }
}
.event_modal_drawer {
  position: relative;
  .events_menu_modal {
    width: 500px;
    height: 380px;
    position: relative;
    .drawer_close_icon {
      .span_icon {
        width: 23px;
        height: 23px;
        color: var(--color-primary);
        border-radius: 50%;
        border: 1px solid var(--color-border);
      }
    }
    .header_box {
      padding: 20px;
      .header {
        .name {
          color: var(--color-dark-gray);
        }
        .date {
          margin: 10px 0px;
          color: var(--color-text-dull);
        }
        .description {
          margin-bottom: 30px;
          color: var(--color-primary-dark);
        }
      }
    }
    .speaker {
      color: var(--color-primary-dark);
      margin-top: 60px;
      .img {
        margin-bottom: 10px;
        position: relative;

        .speaker_img {
          margin-left: -15px;
          z-index: 0;
        }

        .speaker_img:first-child {
          margin-left: 0;
          z-index: 3;
        }
        .speaker_img:nth-child(2) {
          z-index: 1;
        }

        .speaker_img:hover {
          z-index: 10;
        }
      }
      .sp_list {
        small {
          flex-wrap: wrap;
          .count {
            margin-right: 5px;
          }
          .sp {
            gap: 10px;
          }
        }
      }
      .attendees {
        p {
          font-size: 15px;
        }
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 450px) {
        margin-top: 30px;
      }
      /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
      @media screen and (max-width: 345px) {
        margin-top: 60px;
      }
    }
    .btns {
      position: absolute;
      width: 100%;
      background-color: var(--color-gray-bg);
      padding: 20px;
      margin-top: 5px;
      z-index: 1;
      bottom: 0;
      button {
        border: none;
        font-size: 15px;
        padding: 10px 15px;
        text-wrap: nowrap;
      }
      .btn_section {
        width: 100%;
        .edit {
          width: 100%;
          .edit_btn {
            border: 2px solid var(--color-border);
            background-color: var(--color-white);
            color: var(--color-primary-dark);
          }
        }
        .delete_mark_btn {
          gap: 10px;
          width: 100%;
          .delete {
            width: 100%;
            .delete_btn {
              background-color: var(--color-red);
              color: var(--color-white);
            }
          }
          .mark {
            width: 100%;
            .mark_btn {
              color: var(--color-white);
              background-color: var(--color-text);
            }
          }
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 345px) {
          flex-direction: column;
          gap: 10px;
          .edit_btn {
            width: 100%;
          }
          .delete_mark_btn {
            flex-direction: column;
            .delete_btn,
            .mark_btn {
              width: 100%;
            }
          }
        }
      }
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 345px) {
      height: 100%;
    }
  }
}
